<html>
<router-outlet></router-outlet>
<body>
<div class="bg-img">
  <form action="/action_page.php" class="container">
    <h2>Login</h2>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

     <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    
    <button type="submit" class="btn">SignUp</button>
   
  </form>
</div>
</body>
</html>