<!DOCTYPE html>
<html lang="en">

<head>
  <title>MovieCruiser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style\style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><b>
      MovieCruiser</b>&nbsp;
      <img class="myImg" src="https://previews.123rf.com/images/ylivdesign/ylivdesign1304/ylivdesign130400043/19244692-green-movie-logo-on-a-white-background.jpg" alt="img not found">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="home"><span></span> Home</a></li>
      <li><a routerLink="about"><span></span> About</a></li>
      <li><a routerLink="contact"><span></span>Contact</a></li>
 
    </ul>
  </div>
</nav>
</body>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MovieCruiser.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  
</html>



<!-- 
<router-outlet></router-outlet>


<a routerLink="home">Home</a><br>
<a routerLink="about">about</a><br>
<a routerLink="contact">contacts</a> -->