<!DOCTYPE html>
<html lang="en">

<head>
  <title>MovieCruiser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style\style.css">
   
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><b>
      MovieCruiser</b>
      <img class="myImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbsekvZM3c9Wm0phd8wi5fzebnsqVQZprxY1ku3Iyp98XXfzrs&s" alt="img not found">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="home"><span></span> Home</a></li>
      <li><a routerLink="about"><span></span> About</a></li>
      <li><a routerLink="contact"><span></span>Contact</a></li>
 
    </ul>
  </div>
</nav>
</body>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> MovieCruiser.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  
</html>

<!-- 
<router-outlet></router-outlet>


<a routerLink="home">Home</a><br>
<a routerLink="about">about</a><br>
<a routerLink="contact">contacts</a> -->